.org-name{font:12pt times new roman}
.org-name b{font-size:14pt}
.rekvisit{font:bold 12pt times new roman}
.head{font:bold 18pt times new roman;text-align:center;margin-top:16pt}
.shop{font:bold italic 12pt times new roman;text-align:center;text-decoration:underline}
.shop-about{font:11pt times new roman;text-align:center;margin-bottom:10pt}
.tab{border-collapse:collapse;width:100%}
.tab th,.tab td{border:#000 .5pt solid}
.tab th{font:bold italic 11pt times new roman;text-align:center;padding:6pt 2pt}
.tab td{padding:4pt}
.nomer{width:30pt;text-align:center}
.count{width:70pt;text-align:center}
.sum{width:70pt;text-align:right}
.summa{width:70pt;text-align:right}
.summa-propis{
	font:bold 11pt times new roman;
	margin-top:12pt;
	border-bottom:#000 solid 2pt;
	padding-bottom:1pt;
}
.podpis td{width:220pt;font:12pt times new roman}
.prod-bot{font:10pt times new roman;margin-left:80pt}
.r-bot{font:10pt times new roman}