#pin-enter{margin:80px;text-align:center}
#pin-enter input{width:70px;padding:5px}
#pin-enter .red{margin-top:10px}


/* Итоговая сумма для списка платежей */
._moneysum{margin-bottom:7px}

._attach,
._attach .form,
._attach form{display:inline-block}
._attach td{vertical-align:top;padding:1px 0 2px}
._attach .num{padding-right:6px;font-weight:bold}
._attach .form{min-width:100px;overflow:hidden}
._attach form{position:absolute}
._attach input{
	position:absolute;
	opacity:0;
	cursor:pointer;
	width:60px;
}
._attach .inp2{left:55px}
._attach .attach_a{color:#888}
._attach .img_minidel{margin:0 5px -2px -1px}
._attach .form:hover .attach_a{text-decoration:underline}
._attach .form._busy{background-position:left 4px}
._attach .form._busy form,._attach iframe{display:none}
._attach .form._busy .attach_a{visibility:hidden}


._dialog-tab{border-spacing:8px}
._dialog-tab input[type="text"]:not(.money){width:210px}
._dialog-tab .label{text-align:right}


/* Таблица для внесения платежа */
.income-add-tab{border-spacing:8px}
.income-add-tab .label{width:150px;text-align:right}
.income-add-tab .img_edit{position:relative;top:-4px;left:4px}
.income-add-tab #prim{width:220px}


/* Таблица замеров */
#zamer-table .mon{font-weight:bold;margin:0 10px 0 16px}
#zamer-table .mon b{display:inline-block;width:90px}
#zamer-table .mon a{display:inline-block;padding:3px 8px 4px;font-size:12px;margin-right:5px}
#zamer-table .mon a:hover{background-color:#e9edf1;text-decoration:none}
#zamer-table .mon a.vh{visibility:hidden}
#zamer-table .mon._busy{background-position:right center}
#zamer-table .hours{margin:10px 0 3px 21px}
#zamer-table .hours em{display:inline-block;width:36px;color:#777}
#zamer-table table{border-collapse:collapse;width:570px}
#zamer-table .num{
	width:20px;
	text-align:right;
	padding:3px;
	border-top:#E5EDF4 solid 1px;
	border-bottom:#E5EDF4 solid 1px;
	border-right:#dae1e8 solid 1px;
}
#zamer-table .z{border-top:#E5EDF4 solid 1px;border-bottom:#E5EDF4 solid 1px}
#zamer-table .ztu{
	display:inline-block;
	position:relative;
	height:19px;
	border-right:#fff solid 1px;
	background-color:#8f8;
	cursor:pointer;
}
#zamer-table .ztu.sel{background-color:#ff8}
#zamer-table .title{
	display:none;
	position:absolute;
	top:-59px;
	left:-45px;
	background-color:#fff;
	width:165px;
	border:#aebdcc solid 1px;
	padding:5px 7px;
	z-index:999;
}
#zamer-table .title span{color:#777}
#zamer-table .ugb{
	height:7px;
	background:transparent no-repeat 40px 0 url("data:image/gif;base64,R0lGODlhCwAIAKIEAPLy8q69zObm5v///////wAAAAAAAAAAACH5BAEAAAQALAAAAAALAAgAAAMaOLo80SyIByWYzZJLnQBEyHlgKE6fqV5lmAAAOw==");
	z-index:1000;
	margin:5px 0 -11px;
}
#zamer-table .ztu:hover{background-color:#6d6}
#zamer-table .ztu:hover .title{display:block}

/* Внесение и редактирование клиента */
.client-add{border-spacing:10px}
.client-add td.label{width:75px;text-align:right}
.client-add #fio,
.client-add #telefon,
.client-add #adres,
.client-add #pasp_adres,
.client-add #pasp_ovd
{width:240px}
.client-add .tr_pasp{text-align:center}
.client-add span.label{color:#777;margin:0 8px 0 30px}
.client-add #pasp_seria{width:55px}
.client-add #pasp_nomer{width:104px}
.client-add #pasp_data{width:180px}

/* Список клиентов */
#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .result.busy{background-position:585px center}
#client .dolg_sum{color:#999;margin-left:10px;font-size:10px}
#client .dolg_sum b{color:#922;font-size:10px}
#client #dolg_check{margin-top:20px}
#client #note_check{margin-top:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:3px}
#client .unit table{border-spacing:3px}
#client .label{width:60px}
#client .balans{float:right;width:90px;color:#888}
#client .balans b{float:right}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .unit.i{
	background:url("data:image/gif;base64,R0lGODlhDgAOAKIAAAAAAP///9Pd6GuNsf///wAAAAAAAAAAACH5BAEAAAQALAAAAAAOAA4AAAMiSLoi+681CKWjyk68d+0eA17iSBJWJpVairraC7d0K9dOAgA7") no-repeat 428px 21px;
}
#client ._next{margin:0 10px}

/* Информация о клиенте */
#clientInfo .left{padding-bottom:10px}
#clientInfo .fio{color:#31618C;font-size:12px;font-weight:bold;margin:15px 5px 5px 20px}
#clientInfo .cinf{border-spacing:4px;margin:0 10px 0 26px}
#clientInfo .cinf .label{width:60px}
#clientInfo .pasp-head{margin:8px 0 3px 20px;color:#31618C}
#clientInfo .pasp{border-spacing:2px;margin-left:28px}
#clientInfo .pasp .label{width:85px}
#clientInfo .dtime_add{font-size:10px;color:#999;text-align:right;margin:10px}
#clientInfo #dopLinks{border-top:#dae1e8 solid 1px}
#clientInfo #dopLinks.busy{background-position:right center}
#clientInfo #zayav_result{color:#777;text-align:center}
#clientInfo .zayav_unit{margin-right:10px}
#clientInfo ._next{margin:5px 10px 0 10px}
#clientInfo #income_spisok,#clientInfo #histories{margin:10px;display:none}
#clientInfo #income_spisok ._empty{margin:0;padding:60px 10px}
#clientInfo #comments,#clientInfo #remind_spisok{margin:0 10px;display:none}
#clientInfo #remind_spisok ._empty{margin:10px 0;padding:60px 10px}
#clientInfo .right{width:145px;height:auto}
#clientInfo .cdel{color:red}

/* Поля изделий при управлении заявкой */
._product-list .ptab{padding-bottom:6px}
._product-list ._select{margin-right:5px}
._product-list .count{width:20px}
._product-list .img_del{margin:0 0 -4px 6px}
._product-list .add{display:inline-block;text-align:center;padding:4px 0 8px}

/* Изменение списка расходов в заявке */
._zayav-rashod .ptab{margin-bottom:6px}
/*._zayav-rashod .tddop{width:155px}*/
._zayav-rashod .zrtxt{width:142px;margin-right:5px}
._zayav-rashod ._select{margin-right:5px}
._zayav-rashod .zrsum{width:40px;margin-right:3px;text-align:right}

.zayav-rashod-spisok *{font-size:10px}
.zayav-rashod-spisok{width:222px;margin:5px 4px;border-collapse:collapse}
.zayav-rashod-spisok td{border:#dee4e8 solid 1px;padding:2px 4px}
.zayav-rashod-spisok .name{width:50px}
.zayav-rashod-spisok .sum{text-align:right;width:40px;white-space:nowrap}
.zayav-rashod-spisok .itog{text-align:right}

/* Внесение новой заявки */
.zayav-add{border-spacing:12px;margin-bottom:30px}
.zayav-add .label{width:140px;text-align:right}
.zayav-add .product_edit{margin:0 4px -4px 0}
.zayav-add #adres{width:240px}
#homeadres_check{margin:0 0 -3px 6px}
.zayav-add #zakaz_txt{width:260px}
.zayav-add #comm{width:260px;height:40px}
.zayav-add .item{
	border:#ddd solid 1px;
	padding:10px;
	background-color:#eef;
	margin:15px 15px 0;
	color:#555;
	cursor:pointer;
}
.zayav-add .item:hover{background-color:#f5f5ff;}
.zayav-add .item b{display:block;color:#357;margin-bottom:4px;font-size:14px}
.zayav-zamer-dtime ._calendar{margin-right:8px}
.zayav-zamer-dtime #zamer_hour_select{margin-right:2px}
.zayav-zamer-dtime #zamer_min_select{margin-left:1px}

/* Дописывание номера договора к заголовку о заявке */
.zayav-dog{color:#777}

.zayav_unit{
	cursor:pointer;
	margin:8px 5px 2px 10px;
	border:#ccc solid 1px;
	border-radius:2px;
	background-color:#fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.zayav_unit:hover{border:#bbb solid 1px;box-shadow: 0 0 5px rgba(0,0,0,0.4)}
.zayav_unit em{background:#FFC;border-bottom:1px solid #FE2}
.zayav_unit .name em{font-size:12px;font-weight:bold}
.zayav_unit .name{display:block;font-size:12px;font-weight:700;margin:5px 0 0 8px}
.zayav_unit .zayav-dog{font-size:12px}
.zayav_unit .zayav-dog em{font-weight:normal}
.zayav_unit .dtime{float:right;text-align:right;font-size:10px;color:#777;padding:4px}
.zayav_unit .dtime em{font-size:10px}
.zayav_unit .balans{color:#777;margin-top:2px}
.zayav_unit .acc{color:#07a;cursor:default;font-size:10px}
.zayav_unit .opl{color:#090;cursor:default;font-size:10px}
.zayav_unit .diff .acc,.zayav_unit .diff .opl{color:#b33}
.zayav_unit .ztab{border-spacing:2px;margin:4px 0 4px 8px}
.zayav_unit .label{width:60px}
.zayav_unit .product td{padding:1px 4px 3px 0}

/* список заявок */
#zayav ._search{float:right;margin:-3px -5px 0 0}
#zayav .filter_clear{float:right}
#zayav #spisok{padding-bottom:10px;background-color:#f7f7f7;vertical-align:top}
#zayav .right{border:0;width:155px;padding-bottom:300px}
#zayav .zamer_table{display:inline-block;margin-top:15px}
#zayav .condLost.hide{display:none}
#zayav ._next{margin:6px 5px 0 8px}
#zayav #desc_check{margin-top:10px}
#zayav ._empty{margin-right:6px;}

/* Информация о заявке */
.zayav-info .delete{float:right;margin-top:4px;color:#933}
.zayav-info:not(.h) .histories,.zayav-info.h .content{display:none}
.zayav-info .content{margin:10px}
.zayav-info .content .headName{margin:2px 12px 5px 5px}
.zayav-info .zid{float:right}
.zayav-info .tabmain{width:100%}
.zayav-info .mainleft{vertical-align:top}
.zayav-info .tabInfo{width:100%;margin:0 10px;border-spacing:7px}
.zayav-info ._dropdown{display:inline-block}
.zayav-info.zakaz .label{width:60px}
.zayav-info.zamer .label{width:80px}
.zayav-info.dog .label{width:100px}
.zayav-info.set .label{width:100px}
.zayav-info .zakaz-to-set{float:right;margin-right:10px}
.zayav-info .zakaz-to-set:not(:hover){color:#999}
.zayav-info .product td{padding:1px 4px 3px 0}
.zayav-info .zamer-dtime{cursor:help}
.zayav-info .zamer-left{margin-left:15px;color:#884}
.zayav-info .zamer_table{margin-left:10px}
.zayav-info .status {
	display:inline-block;
	border:#ddd solid 1px;
	text-align:center;
	padding:2px 10px 3px;
	color:#555;
	cursor:pointer;
}
.zayav-info .status:hover{border-color:#BBD; color:#444}
.zayav-info .dogovor_create{margin:0 10px 0 122px}
.zayav-info .dogovor_create button{width:200px}
.zayav-info .dogn{cursor:help}
.zayav-info .dogn.d{color:#aaa;font-weight:normal}
.zayav-info .img_word{margin:0 15px -4px -2px}
.zayav-info .mainright{vertical-align:top;width:230px;border-left:#E9EDF1 solid 1px}
.zayav-info .mainright .headBlue{margin:0}
.zayav-info .acc-sum{margin:7px}
.zayav-info .mon em{float:right;margin:0 5px}
.zayav-info .sum.acc{color:#07a;cursor:default}
.zayav-info .sum.opl{color:#090;cursor:default}
.zayav-info .dtime_add{font-size:10px;color:#999;text-align:right;margin:10px 0}
.zayav-info .vkComment{margin-bottom:15px}
.zayav-info .histories{min-height:210px;margin:12px 15px}
.zayav-info .histories .headName{margin:0 0 10px}

.zayav-info-edit{border-spacing:8px}
.zayav-info-edit .label{width:120px;text-align:right}
.zayav-info-edit #adres{width:260px}
.zayav-info-edit #zakaz_txt{width:260px}
.zayav-info-edit #nomer_vg{width:100px}
.zayav-info-edit #nomer_g{width:100px}
.zayav-info-edit #nomer_d{width:100px}
.zayav-info-edit #prim{width:220px;height:40px}
.zayav-info-edit .zamer_table{position:relative;left:10px;top:-3px}

.zayav-dogovor{border-spacing:8px}
.zayav-dogovor .label{width:140px;text-align:right}
.zayav-dogovor #fio,
.zayav-dogovor #adres,
.zayav-dogovor #reason
{width:280px}
.zayav-dogovor #pasp_seria{width:60px;margin:0 15px 0 3px}
.zayav-dogovor #pasp_nomer{width:121px;margin-left:3px}
.zayav-dogovor .l{display:inline-block;width:74px}
.zayav-dogovor #pasp_adres,
.zayav-dogovor #pasp_ovd,
.zayav-dogovor #pasp_data{width:206px}
.zayav-dogovor #nomer{width:40px}
.zayav-dogovor .prim{font-size:10px;color:#999}
.zayav-dogovor h1{display:block;font-weight:bold;text-align:center;margin-bottom:3px;color:#444}
.zayav-dogovor #preview{display:block;text-align:center;margin-top:10px}

.zayav-rashod-edit{border-spacing:8px}

.accrual-add{border-spacing:8px}
.accrual-add .label{width:120px;text-align:right}
.accrual-add #prim{width:200px}

/* Изменение статуса заявки */
.zayav-status{margin:10px}
.zayav-status .st{
	padding:10px 15px;
	font-size:13px;
	font-weight:bold;
	border:#ddd solid 1px;
	color:#357;
	cursor:pointer;
	margin-bottom:10px;
}
.zayav-status .st:hover{border-color:#BBD}
.zayav-status .about{color:#777;margin-top:3px}
.zayav-status .label{color:#444;margin:10px 0 3px 20px}
.zayav-status #day_calendar{color:#444;margin-left:20px}
.zayav-status .c1{background-color:#E8E8FF}
.zayav-status .c2{background-color:#CCFFCC}
.zayav-status .c3{background-color:#FFDDDD}
.zayav-status.busy *{color:#888;background-color:#EEE}
.zayav-status .zstab{border-spacing:8px;display:none}
.zayav-status .zamer_table{position:relative;top:-4px;left:10px}






#remind:not(.y) .full{display:none}
#remind.y .tabLR{display:none}
#remind .left{padding-top:10px}
#remind .right{width:155px}
#remind .goyear{display:inline-block;margin-top:15px}
#remind .full{margin-left:40px}
#remind .fhead{margin-top:15px;text-align:center;color:#357;font:bold 13px Vedrana}
#remind .fcur .fmon{font-weight:bold}
#remind .ftab{border-spacing:10px}
#remind .ftd{vertical-align:top;padding:0 5px}
#remind .fcur.ftd{border:#cec solid 1px;background-color:#e8ffe8}
.remind_unit{margin:0 10px;padding-bottom:20px}
.remind_unit .head{display:block;padding:5px 8px;font-size:13px;font-weight:700}
.remind_unit .to{margin:4px 8px}
.remind_unit .dur{margin-left:10px;color:#777}
.remind_unit .day_left{margin:4px 8px;color:#884}
.remind_unit .action{float:right}
.remind_unit:not(:hover) .action{display:none}


/* Отчёты */
#report .right{width:160px;padding-bottom:200px}
#report .headName{margin:0 0 15px 0}
.history .left{padding:10px}
.history_unit{margin-bottom:12px;padding-bottom:8px;border-bottom:#dae1e8 solid 1px}
.history_unit .head{font-size:10px;color:#777}
.history_unit .head a{font-size:10px;margin-left:10px}
.history_unit ul{margin:5px 0 7px 25px}
.history_unit li{margin:0 0 8px;list-style-type:disc;display:list-item}
.history_unit .li{margin-left:-4px}
.history_unit .changes *{font-size:10px;color:#777}
.history_unit .changes th{text-align:right;font-weight:700;vertical-align:top}
.history_unit .changes td{padding:0 3px;vertical-align:top}
.history_unit .changes .zayav-rashod-spisok{width:auto}
.history_unit a.deleted{color:#b66}
.history_unit em{color:#707070}
.history_unit .oplata{color:#770}
.history_unit .zstatus{display:inline-block;padding:2px 5px;margin-top:3px}
.invoice#report .headName{margin:10px}
.invoice#report .headName span{display:inline-block;float:right;margin:0 6px}
.invoice#report .transfer{color:#d33}
.invoice pre{color:#777;font-size:10px;margin:3px 7px}
.invoice .balans{text-align:right}
.invoice .img_note{margin-bottom:-2px}
.invoice ._info{margin:0 10px}
.invoice #cash-spisok{margin:15px 10px}
.invoice #cash-spisok span{color:#770}
.invoice #invoice-spisok{margin:10px 10px 25px}
.invoice #transfer-spisok{margin:10px}
.invoice-transfer{border-spacing:10px}
.invoice-transfer .income-choice{margin-left:10px}
.income_choice_sum{margin-top:10px}
.invoice-history{margin-top:10px}
.invoice-history .action{width:80px}
.invoice-history .balans{width:70px;text-align:right}
.invoice-history .sum-change{font-size:10px;color:#555}
.income-show{white-space:nowrap}
.income#report .headName{margin:10px}
.income .inc-path{margin:15px 10px}
.income .inc-path._busy{background-position:right center}
.income ._calendarFilter{margin:15px 0 10px}
.income .sums{margin:10px}
.income .sums td{white-space:nowrap}
.income #spisok{margin:15px 10px}
.income ._empty{margin:0}
.income_data{margin:15px 0 3px;text-align:center}
.expense#report .headName{margin:10px}
.expense #spisok{margin:15px 10px}
.expense .years{margin-top:20px}
.expense #monthList div{display:block;margin-bottom:5px}
.expense #monthList .sum{float:right}
.expense ._empty{margin:0}
#expense-add-tab{border-spacing:8px}
#expense-add-tab .label{width:80px;text-align:right}
#expense-add-tab #about{width:230px}
#expense-add-tab .img_edit{position:relative;top:-4px;left:4px}
.salary#report .headName{margin:10px}
.salary #spisok{margin:10px}
.salary .fio{width:150px}
.salary .rate{text-align:right}
.salary .balans{text-align:right}
.salary .type{width:60px}
.salary .uhead{margin:10px 0}
.salary h1{margin-bottom:5px}
.salary .uhead .a{float:right}
.salary .uhead a{color:#68A;}
.salary .uhead a:hover{color:#357}
.salary a.rate-set{color:#d33;float:right}
.salary a.rate-set:hover{color:#d33}
.salary .uhead span{color:#888;margin-left:8px}
.salary #salary-sel{margin-bottom:5px}
.salary #salary-sel a{float:right}
.salary .old{background-color:#ddd;opacity:.6}
.salary-tab{border-spacing:8px}
.salary-tab #about{width:230px}
.salary-tab #day{width:30px}
.salary-tab .img_edit{position:relative;top:-4px;left:4px}

#report_month{margin:10px 15px}
#report_month .yr{display:block;font:bold 13px Tahoma}
#report_month ._spisok{margin:3px 0 20px 15px}

#report_mon{margin:10px 15px}
#report_mon .headName{margin-top:15px}

#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:170px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}

.setup-tab{border-spacing:10px}
.setup-tab .label{text-align:right}
.setup-tab #name{width:210px}
.setup-tab textarea{width:210px;height:70px}

#setup_my .pinset{margin-left:150px}
#setup_my .pinchange{margin:0 10px 0 80px}

#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit,#setup_worker_add .res{border-spacing:10px;border:#DDE solid 1px;width:300px;margin:6px 0 6px 20px}
#setup_worker .unit td,#setup_worker_add .res td{vertical-align:top}
#setup_worker .photo,#setup_worker_add .photo{width:50px}
#setup_worker .photo img,#setup_worker_add .photo img{width:50px;height:50px}
#setup_worker .img_del{float:right;margin-top:2px}
#setup_worker .name,#setup_worker_add .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .post{margin-top:5px}
#setup_worker .activity{margin-top:5px;color:#888;font-size:10px}
#setup_worker_add h1{font-weight:bold;color:#31618C}
#setup_worker_add h2{
	border:#ddd solid 1px;
	margin:7px 0;
	padding:10px;
	background-color:#ffe;
	color:#333;
}
#setup_worker_add #viewer_id{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#setup_worker_add .vkButton{margin:0}
#setup_worker_add .res{margin:10px 0 0 15px}
#setup_worker_add .manual{display:inline-block;margin-top:15px}
#setup_worker_add .manual_tab{border-spacing:8px;margin-top:25px;display:none}
#setup_worker_add .manual_tab input{width:230px}
#setup_worker_add #sex_radio div{display:inline-block;margin-right:15px}


#setup_rules{padding-bottom:30px}
#setup_rules .utab td{padding-right:10px;vertical-align:top}
#setup_rules .vklink{color:#777;display:inline-block;margin-top:10px}
#setup_rules .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_rules .headName{margin:20px 0 10px}
#setup_rules .pin-clear{margin-left:97px}
#setup_rules .rtab{border-spacing:8px}
#setup_rules .lab{width:150px;text-align:right}
#setup_rules .rtab input{width:160px}
#setup_rules .setup-div div{display:block;margin-bottom:5px;color:#555}

#setup_rekvisit .t{border-spacing:10px;margin-left:10px}
#setup_rekvisit input{width:240px}
#setup_rekvisit #yur_adres{width:240px;height:40px}


#setup_product .name{width:170px}
#setup_product .sub{text-align:center;font-weight:700}
#setup_product .zayav{text-align:center}

#setup_product_sub .headName{margin-top:10px}
#setup_product_sub .zayav{text-align:center}

#setup_invoice .name{vertical-align:top;width:170px}
#setup_invoice .type{vertical-align:top}
#setup_invoice pre{color:#777;font-size:10px;margin:3px 7px}

#setup_income .name{width:160px}
#setup_income td.name{cursor:move}
#setup_income .confirm{width:110px;text-align:center}
#setup_income .money{width:60px;text-align:center}
#setup_income .del{color:#888;cursor:help}
#setup_income .set{width:40px}

#setup_expense .name{width:180px}
#setup_expense td.name{cursor:move}
#setup_expense .worker{width:80px;text-align:center}
#setup_expense .use{width:55px;text-align:center}
#setup_expense .set{width:35px}

#setup_zayavexpense .name{width:110px}
#setup_zayavexpense td.name{cursor:move}
#setup_zayavexpense .txt{width:75px;text-align:center}
#setup_zayavexpense .worker{width:80px;text-align:center}
#setup_zayavexpense .use{width:55px;text-align:center}
#setup_zayavexpense .set{width:35px}