/* Список клиентов */
#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px}
#client #dolg_check{margin-top:20px}
#client #active_check{margin-top:10px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .unit table{border-spacing:1px}
#client .label{width:70px}
#client .balans{float:right;width:80px;color:#888}
#client .balans b{float:right}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .ajaxNext{margin:0 10px}