/* Итоговая сумма для списка платежей */
._moneysum{margin-bottom:7px}

._attach,
._attach .files,
._attach .form,
._attach form{display:inline-block}
._attach .files.block span{display:block}
._attach .form{
	position:relative;
	top:2px;
	min-width:100px;
	overflow:hidden;
}
._attach form{position:absolute}
._attach input{
	position:absolute;
	opacity:0;
	cursor:pointer;
	width:60px;
}
._attach .inp2{left:55px}
._attach .attach_a{color:#888}
._attach .img_minidel{margin:0 5px -2px -1px}
._attach .form:hover .attach_a{text-decoration:underline}
._attach .form._busy{background-position:left 4px}
._attach .form._busy form,._attach iframe{display:none}
._attach .form._busy .attach_a{visibility:hidden}
._attach .red{margin-left:10px}

/* Таблица для внесения платежа */
.oplata-add-tab{border-spacing:8px}
.oplata-add-tab .label{width:150px;text-align:right}
.oplata-add-tab .img_edit{position:relative;top:-3px;left:4px}
.oplata-add-tab #prim{width:220px}


/* Таблица замеров */
#zamer-table .mon{font-weight:bold;margin:0 10px 0 16px}
#zamer-table .mon b{display:inline-block;width:90px}
#zamer-table .mon a{display:inline-block;padding:3px 8px 4px;font-size:12px;margin-right:5px}
#zamer-table .mon a:hover{background-color:#e9edf1;text-decoration:none}
#zamer-table .mon a.vh{visibility:hidden}
#zamer-table .mon._busy{background-position:right center}
#zamer-table .hours{margin:10px 0 3px 21px}
#zamer-table .hours em{display:inline-block;width:36px;color:#777}
#zamer-table table{border-collapse:collapse;width:570px}
#zamer-table .num{
	width:20px;
	text-align:right;
	padding:3px;
	border-top:#E5EDF4 solid 1px;
	border-bottom:#E5EDF4 solid 1px;
	border-right:#dae1e8 solid 1px;
}
#zamer-table .z{border-top:#E5EDF4 solid 1px;border-bottom:#E5EDF4 solid 1px}
#zamer-table .ztu{
	display:inline-block;
	position:relative;
	height:19px;
	border-right:#fff solid 1px;
	background-color:#8f8;
	cursor:pointer;
}
#zamer-table .ztu.sel{background-color:#ff8}
#zamer-table .title{
	display:none;
	position:absolute;
	top:-59px;
	left:-45px;
	background-color:#fff;
	width:165px;
	border:#aebdcc solid 1px;
	padding:5px 7px;
	z-index:999;
}
#zamer-table .title span{color:#777}
#zamer-table .ugb{
	height:7px;
	background:transparent no-repeat 40px 0 url("data:image/gif;base64,R0lGODlhCwAIAKIEAPLy8q69zObm5v///////wAAAAAAAAAAACH5BAEAAAQALAAAAAALAAgAAAMaOLo80SyIByWYzZJLnQBEyHlgKE6fqV5lmAAAOw==");
	z-index:1000;
	margin:5px 0 -11px;
}

#zamer-table .ztu:hover{background-color:#6d6}
#zamer-table .ztu:hover .title{display:block}
/* Внесение и редактирование клиента */
.client-add{border-spacing:10px}
.client-add td.label{width:75px;text-align:right}
.client-add #fio,
.client-add #telefon,
.client-add #adres,
.client-add #pasp_adres,
.client-add #pasp_ovd
{width:240px}
.client-add .tr_pasp{text-align:center}
.client-add span.label{color:#888;margin:0 8px 0 30px}
.client-add #pasp_seria{width:55px}
.client-add #pasp_nomer{width:100px}
.client-add #pasp_data{width:180px}

/* Список клиентов */
#client #find{background-color:#F7F7F7;padding:10px;border-bottom:#dae1e8 solid 1px}
#client .result.busy{background-position:585px center}
#client .result em{color:#999;margin-left:10px;font-size:10px}
#client #dolg_check{margin-top:20px}
#client .left{padding-bottom:10px}
#client .unit{margin:5px 10px 0 10px;border-bottom:#dae1e8 solid 1px;padding:5px}
#client .unit table{border-spacing:1px}
#client .label{width:70px}
#client .balans{float:right;width:90px;color:#888}
#client .balans b{float:right}
#client .unit em{background-color:#FFC;border-bottom:#FE2 solid 1px}
#client .unit.i{
	background:url("data:image/gif;base64,R0lGODlhDgAOAKIAAAAAAP///9Pd6GuNsf///wAAAAAAAAAAACH5BAEAAAQALAAAAAAOAA4AAAMiSLoi+681CKWjyk68d+0eA17iSBJWJpVairraC7d0K9dOAgA7") no-repeat 428px 21px;
}
#client .ajaxNext{margin:0 10px}

/* Информация о клиенте */
#clientInfo .left{padding-bottom:10px}
#clientInfo .fio{color:#31618C;font-size:12px;font-weight:bold;margin:15px 5px 5px 20px}
#clientInfo .cinf{border-spacing:2px;margin:0 10px 0 28px}
#clientInfo .cinf .label{width:60px}
#clientInfo .pasp-head{margin:8px 0 3px 20px;color:#31618C}
#clientInfo .pasp{margin-left:30px}
#clientInfo .pasp .label{width:85px}
#clientInfo .dtime_add{font-size:10px;color:#999;text-align:right;margin:10px}
#clientInfo #dopLinks{border-top:#dae1e8 solid 1px}
#clientInfo #dopLinks.busy{background-position:right center}
#clientInfo #zayav_result{color:#777;text-align:center}
#clientInfo .zayav_unit{margin-right:10px}
#clientInfo .ajaxNext{margin:5px 10px 0 10px}
#clientInfo #income_spisok,#clientInfo #histories{margin:10px;display:none}
#clientInfo #income_spisok ._empty{margin:0;padding:60px 10px}
#clientInfo #comments,#clientInfo #remind_spisok{margin:0 10px;display:none}
#clientInfo #remind_spisok ._empty{margin:10px 0;padding:60px 10px}
#clientInfo .right{width:145px;height:auto}
#clientInfo .cdel{color:red}

/* Поля изделий при управлении заявкой */
._product-list .ptab{padding-bottom:6px}
._product-list ._select{margin-right:5px}
._product-list .count{width:20px}
._product-list .img_del{margin:0 0 -4px 6px}
._product-list .add{display:inline-block;text-align:center;padding:4px 0 8px}

/* Изменение списка расходов в заявке */
._zayav-rashod .ptab{margin-bottom:6px}
/*._zayav-rashod .tddop{width:155px}*/
._zayav-rashod .zrtxt{width:142px;margin-right:5px}
._zayav-rashod ._select{margin-right:5px}
._zayav-rashod .zrsum{width:40px;margin-right:3px;text-align:right}

.zayav-rashod-spisok *{font-size:10px}
.zayav-rashod-spisok{width:222px;margin:5px 4px;border-collapse:collapse}
.zayav-rashod-spisok td{border:#dee4e8 solid 1px;padding:2px 4px}
.zayav-rashod-spisok .sum{text-align:right}

/* Внесение новой заявки */
.zayav-add{border-spacing:12px;margin-bottom:30px}
.zayav-add .label{width:140px;text-align:right}
.zayav-add .product_edit{margin:0 4px -4px 0}
.zayav-add #adres{width:240px}
.zayav-add #homeadres_check{margin:0 0 -3px 6px}
.zayav-add #zakaz_txt{width:260px}
.zayav-add #comm{width:260px;height:40px}
.zayav-add.all{text-align:center}
.zayav-add .vkButton{margin-top:15px}
.zayav-zamer-dtime ._calendar{margin-right:8px}
.zayav-zamer-dtime #zamer_hour_select{margin-right:2px}
.zayav-zamer-dtime #zamer_min_select{margin-left:1px}


.zayav_unit{
	cursor:pointer;
	margin:8px 5px 2px 10px;
	border:#ccc solid 1px;
	border-radius:2px;
	background-color:#fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.zayav_unit:hover{border:#bbb solid 1px;box-shadow: 0 0 5px rgba(0,0,0,0.4)}
.zayav_unit .name{display:block;font-size:12px;font-weight:700;margin:5px 0 0 8px}
.zayav_unit .name span{color:#777;font-weight:normal;font-size:12px}
.zayav_unit .dtime{float:right;text-align:right;font-size:10px;color:#777;padding:4px}
.zayav_unit .ztab{border-spacing:2px;margin:4px 0 4px 8px}
.zayav_unit .label{width:60px}
.zayav_unit .product td{padding:1px 4px 3px 0}
.zayav_unit em{background:#FFC;border-bottom:1px solid #FE2;font-size:12px}
.zayav_unit b em{font-weight:bold}

/* список заявок */
#zayav ._search{float:right;margin:-3px -5px 0 0}
#zayav .filter_clear{float:right}
#zayav #spisok{padding-bottom:10px;background-color:#f7f7f7;vertical-align:top}
#zayav .right{border:0;width:155px;padding-bottom:300px}
#zayav .zamer_table{display:inline-block;margin-top:15px}
#zayav .condLost.hide{display:none}
#zayav .ajaxNext{margin:6px 5px 0 8px}
#zayav #desc_check{margin-top:10px}
#zayav ._empty{margin-right:6px;}

/* Информация о заявке */
.zayav-info .delete{float:right;margin-top:4px;color:#933}
.zayav-info:not(.h) .histories,.zayav-info.h .content{display:none}
.zayav-info .content{margin:10px}
.zayav-info .content .headName{margin:2px 12px 5px 5px}
.zayav-info .tabmain{width:100%}
.zayav-info .mainleft{vertical-align:top}
.zayav-info .tabInfo{width:100%;margin:0 10px;border-spacing:7px}
.zayav-info.zakaz .label{width:60px}
.zayav-info.zamer .label{width:80px}
.zayav-info.dog .label{width:100px}
.zayav-info.set .label{width:100px}
.zayav-info .product td{padding:1px 4px 3px 0}
.zayav-info .zamer-dtime{cursor:help}
.zayav-info .zamer-left{margin-left:15px;color:#884}
.zayav-info .zamer_table{margin-left:10px}
.zayav-info .status {
	display:inline-block;
	border:#ddd solid 1px;
	text-align:center;
	padding:2px 10px 3px;
	color:#555;
	cursor:pointer;
}
.zayav-info .status:hover{border-color:#BBD; color:#444}
.zayav-info .dogovor_create{margin:0 10px 0 122px}
.zayav-info .dogovor_create button{width:200px}
.zayav-info .dogn{cursor:help}
.zayav-info .dogn.d{color:#aaa;font-weight:normal}
.zayav-info .img_word{margin:0 15px -4px -2px}
.zayav-info .reneg{color:#888}
.zayav-info .mainright{vertical-align:top;width:230px;border-left:#E9EDF1 solid 1px}
.zayav-info .mainright .headBlue{margin:0}
.zayav-info .acc-sum{margin:7px}
.zayav-info .mon em{float:right;margin:0 5px}
.zayav-info .sum.acc{color:#07a;cursor:help}
.zayav-info .sum.opl{color:#090;cursor:help}
.zayav-info .dtime_add{font-size:10px;color:#999;text-align:right;margin:10px 0}
.zayav-info .vkComment{margin-bottom:15px}
.zayav-info .histories{min-height:210px;margin:12px 15px}
.zayav-info .histories .headName{margin:0 0 10px}
/*.zayav-info .status_dtime{display:inline-block;color:#AAA;font-size:10px;margin-left:10px}*/

.zayav-info-edit{border-spacing:8px}
.zayav-info-edit .label{width:120px;text-align:right}
.zayav-info-edit #adres{width:260px}
.zayav-info-edit #zakaz_txt{width:260px}
.zayav-info-edit #nomer_vg{width:100px}
.zayav-info-edit #nomer_g{width:100px}
.zayav-info-edit #nomer_d{width:100px}
.zayav-info-edit #prim{width:220px;height:40px}
.zayav-info-edit .zamer_table{position:relative;left:10px;top:-3px}

.zayav-dogovor{border-spacing:8px}
.zayav-dogovor .label{width:110px}
.zayav-dogovor #fio,.zayav-dogovor #adres{width:258px}
.zayav-dogovor #pasp_seria{width:55px;margin:0 15px 0 3px}
.zayav-dogovor #pasp_nomer{width:100px;margin-left:3px}
.zayav-dogovor .l{display:inline-block;width:74px}
.zayav-dogovor #pasp_adres,
.zayav-dogovor #pasp_ovd,
.zayav-dogovor #pasp_data{width:184px}
.zayav-dogovor #nomer{width:40px}
.zayav-dogovor .prim{font-size:10px;color:#999}
.zayav-dogovor .i{
	margin-top:10px;
	border:#ddd solid 1px;
	background-color:#ffd;
	padding:6px 10px;
	color:#444;
	text-align:justify;
}
.zayav-dogovor .per{margin:-5px 0 5px}
.zayav-dogovor h1{display:block;font-weight:bold;text-align:center;margin-bottom:3px;color:#444}
.zayav-dogovor #reason{width:376px;height:30px}
.zayav-dogovor #preview{display:block;text-align:center;margin-top:10px}

.zayav-rashod-edit{border-spacing:8px}

.accrual-add{border-spacing:8px}
.accrual-add .label{width:120px;text-align:right}
.accrual-add #prim{width:200px}

.zamer-status-edit{border-spacing:10px}
.zamer-status-edit .label{width:100px;text-align:right}
.zamer-status-edit #prim{width:220px;height:40px}
.zamer-status-edit #edit_zamer_radio span{display:block;width:220px;color:#888;margin:2px 0 12px 18px}
.zamer-status-edit .zamer_table{position:relative;left:10px;top:-4px}






.remind_calendar .week-name{border-spacing:5px}
.remind_calendar .month td{width:22px;padding:4px 0;text-align:center}
.remind_calendar .week-name{color:#777;background-color:#eee}
.remind_calendar .cur{font-weight:bold;color:#000}
.remind_calendar .on{text-decoration:underline;color:#33d;cursor:pointer}
.remind_calendar .on:hover{background-color:#eee}
.remind_calendar .old{color:#888}
.remind_calendar .old.on{color:#e44}
.remind_calendar.busy{opacity:.4}

#remind:not(.y) .full{display:none}
#remind.y .tabLR{display:none}
#remind .left{padding-top:10px}
#remind .right{width:155px}
#remind .cal_select{text-align:center;margin-bottom:3px}
#remind .full{margin-left:40px}
#remind .fhead{margin-top:15px;text-align:center;color:#357;font:bold 13px Vedrana}
#remind .fmon{display:block;text-align:center;margin:3px 0}
#remind .fcur .fmon{font-weight:bold}
#remind .ftab{border-spacing:10px}
#remind .ftd{vertical-align:top;padding:0 5px}
#remind .fcur.ftd{border:#cec solid 1px;background-color:#e8ffe8}
.remind_unit{margin:0 10px;padding-bottom:20px}
.remind_unit .head{display:block;padding:5px 8px;font-size:13px;font-weight:700}
.remind_unit .to{margin:4px 8px}
.remind_unit .dur{margin-left:10px;color:#777}
.remind_unit .day_left{margin:4px 8px;color:#884}
.remind_unit .action{float:right}
.remind_unit:not(:hover) .action{display:none}


/* Отчёты */
#report .headName{margin:0 0 15px 0}
#report_history{margin:10px}
.history_unit{margin-bottom:12px;padding-bottom:8px;border-bottom:#dae1e8 solid 1px}
.history_unit .head{font-size:10px;color:#777}
.history_unit .head a{font-size:10px;margin-left:10px}
.history_unit .txt{margin:7px 0 7px 15px}
.history_unit .changes{margin:0 0 0 15px}
.history_unit .changes *{font-size:10px;color:#777}
.history_unit .changes th{text-align:right;font-weight:700;vertical-align:top}
.history_unit .changes td{padding:0 3px;vertical-align:top}
.history_unit .changes .zayav-rashod-spisok{width:auto}
.history_unit a.deleted{color:#b66}
.history_unit em{color:#707070;margin-left:3px}
.history_unit .oplata{color:#770}
#incoming{margin:10px}
#invoice{margin:10px}
#invoice pre{color:#777;font-size:10px;margin:3px 7px}
#invoice .balans{text-align:right}
#invoice .setup{display:inline-block;float:right;margin-top:15px}


#setup .left{padding:15px}
#setup .headName{margin:0 0 15px}
#setup .right{padding:0;width:170px;border-left:0}
#setup .rightLink a.sel{border-color:#6B8EB5}

.setup-tab{border-spacing:10px}
.setup-tab .label{text-align:right}
.setup-tab #name{width:210px}
.setup-tab textarea{width:210px;height:70px}

#setup_worker .headName{margin-bottom:15px}
#setup_worker .unit,#setup_worker_add .res{border-spacing:10px;border:#DDE solid 1px;width:300px;margin:6px 0 6px 20px}
#setup_worker .unit td,#setup_worker_add .res td{vertical-align:top}
#setup_worker .photo,#setup_worker_add .photo{width:50px}
#setup_worker .photo img,#setup_worker_add .photo img{width:50px;height:50px}
#setup_worker .img_del{float:right;margin-top:2px}
#setup_worker .name,#setup_worker_add .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_worker .post{margin-top:15px}
#setup_worker_add h1{font-weight:bold;color:#31618C}
#setup_worker_add h2{
	border:#ddd solid 1px;
	margin:7px 0;
	padding:10px;
	background-color:#ffe;
	color:#333;
}
#setup_worker_add #viewer_id{width:240px;padding:5px;height:13px;margin:7px 5px 0 0}
#setup_worker_add .vkButton{margin:0}
#setup_worker_add .res{margin:10px 0 0 15px}
#setup_worker_add .manual{display:inline-block;margin-top:15px}
#setup_worker_add .manual_tab{border-spacing:8px;margin-top:25px;display:none}
#setup_worker_add .manual_tab input{width:230px}
#setup_worker_add #sex_radio div{display:inline-block;margin-right:15px}


#setup_rules .utab td{padding-right:10px;vertical-align:top}
#setup_rules .vklink{color:#777;display:inline-block;margin-top:10px}
#setup_rules .name{font-weight:bold;font-size:12px;color:#45688e}
#setup_rules .gtab{border-spacing:8px;margin-left:20px}
#setup_rules .gtab input{width:230px}
#setup_rules .headName{margin-top:15px}
#setup_rules .rtab{border-spacing:8px;margin-left:20px}
#setup_rules .lab{width:200px;text-align:right}
#setup_rules .setup-div{margin-top:-5px}
#setup_rules .setup-div div{display:block;margin-top:5px;color:#555}

#setup_rekvisit .t{border-spacing:10px;margin-left:10px}
#setup_rekvisit input{width:240px}
#setup_rekvisit #yur_adres{width:240px;height:40px}


#setup_product .name{width:170px}
#setup_product .sub{text-align:center;font-weight:700}
#setup_product .zayav{text-align:center}

#setup_product_sub .headName{margin-top:10px}
#setup_product_sub .zayav{text-align:center}

#setup_invoice .name{vertical-align:top;width:170px}
#setup_invoice .type{vertical-align:top}
#setup_invoice pre{color:#777;font-size:10px;margin:3px 7px}

#setup_income .name{width:170px}
#setup_income td.name{cursor:move}
#setup_income .money{width:60px;text-align:center}
#setup_income .del{color:#888;cursor:help}
#setup_income .set{width:40px}

#setup_zayavrashod .name{width:110px}
#setup_zayavrashod td.name{cursor:move}
#setup_zayavrashod .txt{width:75px;text-align:center}
#setup_zayavrashod .worker{width:80px;text-align:center}
#setup_zayavrashod .use{width:55px;text-align:center}
#setup_zayavrashod .set{width:35px}